<div class='mist-page-container mist-page-container--transparent'>
  <div class='mist-page-header'>
    <div class='endpoint-details' fxLayout='row'>

      <div class='endpoint-details__settings' fxFlex.md="60" fxFlex.lg="50">
        <div class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--middle">
            <span class='endpoint-details__settings-label' fxHide.sm>Settings</span>
            {{currentContext}}
            <mdl-icon (click)="showAddContextDialog()" class="cs-vertical-middle cs-cursor-pointer">settings</mdl-icon>
          </div>
        </div>
      </div>

      <div class='endpoint-details__status-filter' fxFlex="40" fxFlex.md="40%" fxFlex.lg="40%">
        <div class="mdl-grid--no-spacing mdl-grid">
          <div class='mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--middle'>
            <span fxHide.sm>FILTER: </span>
            <mdl-button [ngClass]="{'endpoint-details__status-filter-option--active': statusFilter['success']}"
                        (click)="toggleStatusFilter('success')"
                        class="mist-button endpoint-details__status-filter-option no-bg-on-hover mb-8 cs-non-transform"
                        title="Success"
                        mdl-colored="">
              <mdl-icon>done</mdl-icon>
              <span fxHide.md fxHide.sm>Success</span>
            </mdl-button>


            <mdl-button [ngClass]="{'endpoint-details__status-filter-option--active': statusFilter['running']}"
                        (click)="toggleStatusFilter('running')"
                        class="mist-button endpoint-details__status-filter-option no-bg-on-hover cs-non-transform"
                        title="Running"
                        mdl-colored="">
              <mdl-icon>replay</mdl-icon>
              <span fxHide.md fxHide.sm>Running</span>
            </mdl-button>

            <mdl-button (click)="toggleStatusFilter('failed')"
                        [ngClass]="{'endpoint-details__status-filter-option--active': statusFilter['failed']}"
                        class="mist-button endpoint-details__status-filter-option no-bg-on-hover cs-non-transform"
                        title="Failed"
                        mdl-colored="">
              <mdl-icon>clear</mdl-icon>
              <span fxHide.md fxHide.sm>Failed</span>
            </mdl-button>
          </div>
        </div>
      </div>

      <div class="cs-text-right" fxFlex.md="10" fxFlex.sm="10" fxFlex.lg="20">
        <mdl-button (click)="openDialogJobForm()"
                    class="mist-button blue border icon"
                    title="Run New"
                    mdl-colored="">
          <mdl-icon>add</mdl-icon>
          <span fxHide.md fxHide.sm>Run New</span>
        </mdl-button>
      </div>

    </div>
  </div>
  <hr/>
  <div class='mist-page-content'>
    <table class='mdl-data-table mdl-js-data-table jobs-table mdl-shadow--2dp'>
      <tbody>
      <ng-template ngFor let-job [ngForOf]="jobs | jobStatusFilter:statusFilter | sortBy:'createTime'">
        <tr class='jobs-table__tr' [routerLink]="['/jobs', job.endpoint, job.jobId]">
          <td [title]="job.jobId" class='jobs-table__td jobs-table__td--job-id'
              [ngClass]="{'font-color--failed': job.isFailed()}">
            <div class="cs-text-overflow-ellipsis">
              <i class='material-icons status-icon cs-mr-8'
                 [ngClass]="{'status-icon--failed': job.isFailed(),
                'status-icon--success': job.isFinished(),
                'status-icon--primary': job.isRunning()}">
              </i>
              {{ job.jobId | jobIdCut }}
            </div>
          </td>
          <td [title]="'endpoint = ' + job.endpoint" class='jobs-table__td jobs-table__td--endpoint'>
            <div class='endpoint cs-block'>
              <div class="cs-text-overflow-ellipsis cs-text-center">
                <span>{{ job.endpoint }}</span>
              </div>
            </div>
          </td>
          <td [title]="'context = ' + job.context" class='jobs-table__td jobs-table__td--context'>
            <div class='context cs-block'>
              <div class="cs-text-overflow-ellipsis cs-text-center">
                <span class='context__value'>{{ job.context }}</span>
              </div>
            </div>
          </td>
          <td [title]="job.status" class='jobs-table__td jobs-table__td--status cs-text-overflow-ellipsis'>
            <div class="cs-text-overflow-ellipsis">
              <span class='mist-label'>Status</span>
              <span class='job-status'
                    [ngClass]="{'font-color--success': job.isFinished(),
                  'font-color--primary': job.isRunning(),
                  'font-color--failed': job.isFailed()}">
                  {{ job.status }}
              </span>
              <span>
                {{ job.isRunning() ? (job.runningTime() | agoDate) : (job.endTime | agoDate) }}
              </span>
            </div>
          </td>
          <td title="KILL" class='jobs-table__td jobs-table__td--actions cs-text-overflow-ellipsis'>
            <a href='#' class='mist-link' (click)="killJob($event, job)"
               *ngIf="job.isRunning()">
              <i class='material-icons'>delete_forever</i>
              <span>KILL</span>
            </a>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>
