<div class='mist-page-container mist-page-container--transparent'>
  <div class='mist-page-header'>
    <div class='endpoint-details' fxLayout='row'>

      <div class='endpoint-details__settings' fxFlex.md="60" fxFlex.lg="50">
        <div class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--middle">
            <span class='endpoint-details__settings-label' fxHide.sm>Settings</span>
            <div class='namespace namespace--select'>
              <span class='namespace__label'>namespace</span>
              <span class='namespace__value'>{{ namespace }}</span>
              <button id='namespace-select'
                      class='mdl-button mdl-js-button mdl-button--icon'>
                <i class='material-icons'>arrow_drop_down</i>
              </button>
              <ul class='mdl-menu mdl-js-menu' for='namespace-select'>
                <li class='mdl-menu__item' (click)="selectNamespace($event, 'Namespace1')">Namespace1</li>
                <li class='mdl-menu__item' (click)="selectNamespace($event, 'Namespace2')">Namespace2</li>
                <li class='mdl-menu__item' (click)="selectNamespace($event, 'Namespace3')">Namespace3</li>
                <li class='mdl-menu__item' (click)="selectNamespace($event, 'Namespace4')">Namespace4</li>
              </ul>
            </div>
            <mdl-icon class="cs-vertical-middle">settings</mdl-icon>
          </div>
        </div>
      </div>

      <div class='endpoint-details__status-filter' fxFlex="40" fxFlex.md="40%" fxFlex.lg="40%">
        <div class="mdl-grid--no-spacing mdl-grid">
          <div class='mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--middle'>
            <span fxHide.sm>FILTER: </span>
            <mdl-button [ngClass]="{'endpoint-details__status-filter-option--active': statusFilter['success']}"
                        (click)="toggleStatusFilter('success')"
                        class="mist-button endpoint-details__status-filter-option no-bg-on-hover mb-8 cs-non-transform"
                        title="Success"
                        mdl-colored="">
              <mdl-icon>done</mdl-icon>
              <span fxHide.md fxHide.sm>Success</span>
            </mdl-button>


            <mdl-button [ngClass]="{'endpoint-details__status-filter-option--active': statusFilter['running']}"
                        (click)="toggleStatusFilter('running')"
                        class="mist-button endpoint-details__status-filter-option no-bg-on-hover cs-non-transform"
                        title="Running"
                        mdl-colored="">
              <mdl-icon>replay</mdl-icon>
              <span fxHide.md fxHide.sm>Running</span>
            </mdl-button>

            <mdl-button (click)="toggleStatusFilter('failed')"
                        [ngClass]="{'endpoint-details__status-filter-option--active': statusFilter['failed']}"
                        class="mist-button endpoint-details__status-filter-option no-bg-on-hover cs-non-transform"
                        title="Failed"
                        mdl-colored="">
              <mdl-icon>clear</mdl-icon>
              <span fxHide.md fxHide.sm>Failed</span>
            </mdl-button>
          </div>
        </div>
      </div>

      <div class="cs-text-right" fxFlex.md="10" fxFlex.sm="10" fxFlex.lg="20">
        <mdl-button (click)="openDialogJobForm()"
                    class="mist-button blue border icon"
                    title="Run New"
                    mdl-colored="">
          <mdl-icon>add</mdl-icon>
          <span fxHide.md fxHide.sm>Run New</span>
        </mdl-button>
      </div>

    </div>
  </div>
  <hr/>
  <div class='mist-page-content'>
    <table class='mdl-data-table mdl-js-data-table jobs-table mdl-shadow--2dp'>
      <tbody>
      <ng-template ngFor let-job [ngForOf]="jobs | jobStatusFilter:statusFilter | sortBy:'createTime'">
        <tr class='jobs-table__tr'>
          <td [title]="job.jobId" class='jobs-table__td jobs-table__td--job-id'
              [ngClass]="{'font-color--failed': job.isFailed()}">
            <div class="cs-text-overflow-ellipsis">
              <i class='material-icons status-icon'
                 [ngClass]="{'status-icon--failed': job.isFailed(),
                'status-icon--success': job.isFinished(),
                'status-icon--primary': job.isRunning()}">
              </i>
              {{ job.jobId }}
            </div>
          </td>
          <td title="Version 1.2.4" class='jobs-table__td jobs-table__td--version cs-text-overflow-ellipsis'>
            <span class='mist-label'>Version</span>
            1.2.4
          </td>
          <td [title]="'namespace = ' + job.context" class='jobs-table__td jobs-table__td--namespace'>
            <div class='namespace cs-block'>
              <div class="cs-text-overflow-ellipsis">
                <span class='namespace__label'>namespace</span>
                <span class='namespace__value'>{{ job.context }}</span>
              </div>
            </div>
          </td>
          <td [title]="job.status" class='jobs-table__td jobs-table__td--status cs-text-overflow-ellipsis'>
            <div class="cs-text-overflow-ellipsis">
              <span class='mist-label'>Status</span>
              <span class='job-status'
                    [ngClass]="{'font-color--success': job.isFinished(),
                  'font-color--primary': job.isRunning(),
                  'font-color--failed': job.isFailed()}">
                  {{ job.status }}
                </span>
            </div>
            <div>
                <span class='mist-label'>
                  {{ job.isRunning() ? 'Started' : 'Finished' }}
                </span>
              <span>
                  {{ job.isRunning() ? (job.createTime | agoDate) : (job.endTime | agoDate) }}
                </span>
            </div>
          </td>
          <td title="KILL" class='jobs-table__td jobs-table__td--actions cs-text-overflow-ellipsis'>
            <a href='#' class='mist-link' (click)="killJob($event, job)"
               *ngIf="job.isRunning()">
              <i class='material-icons'>delete_forever</i>
              <span>KILL</span>
            </a>
          </td>
          <td title="DETAILS" class='jobs-table__td jobs-table__td--details cs-text-overflow-ellipsis'>
            <a class='mist-link'
               [routerLink]="['/jobs', job.endpoint, job.jobId]">DETAILS...</a>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>
