.job-id {
	font-size: 24px;
	vertical-align: middle;
}

.mat-button.clone-job-button {
	font-size: 16px;
	float: right;
	padding: 0px 75px;
}

.job-version {
	display: inline-block;
	font-size: 14px;
	margin-right: 40px;
}

.job-status {
	display: inline-block;
}

.mist-label {
	margin-left: 40px;
}

.spark-ui {
	float: right;
	margin-right: 77px;
}