@import "~variables.scss";

.endpoint-list__row {
  position: relative;
  overflow: inherit;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.endpoint-list__row.endpoint-list__row--big {
  height: 100px;
}

.endpoint-list__header {
  margin: 0 20px auto;
}

.endpoint-list__search {
  height: 43px;
  padding:0 20px;
}

input.endpoint-list__search-input {
  border: 2px solid;
  border-color: #d4d7d9;
  font-size: 16px;
  background-color: #f2f4f7;
  width: 84%;
  height: 95%;
  padding-left: 46px;

  &:focus {
    border-color: #04143c;
  }
}

.endpoint-list__search-icon {
  position: absolute;
  font-size: 20px;
  vertical-align: text-bottom;
  margin: 13px;
}

.endpoint-list__title {
  display:inline;
  float: left;
  margin:0 auto;
  font-size: 24px;
  line-height: 96px;
}

.mdl-list__item.endpoint-list__item {
  color: $main-color;
  font-family: $main-font-family;
  max-height: 66px;
  font-size: 18px;
  padding: 0px;
  border-bottom: 1px solid #dcdee0
}

.mdl-list__item-primary-content.endpoint-list__item-content {
  padding-left: 35px;
}

.mdl-list__item.endpoint-list__item:hover, .mdl-list__item.endpoint-list__item--active {
  background-color: #e6e9ed;
}

.endpoint-list__item.endpoint-list__item--hover-disabled:hover {
  background-color: $aside-bg-color;
}

.mdl-list__item-icon.endpoint-list__item-icon {
  color: $main-color;
  margin-right: 16px;
}

.mdl-badge.endpoint-list__badge:after {
  background-color: #f28a03;
  height: 24px;
  width: 24px;
  font-size: 14px;
  margin-right: 20px;
}
