.endpoint-list__row {
  position: relative;
  overflow: inherit;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.endpoint-list__row.endpoint-list__row--medium {
  height: 100px;
}

.endpoint-list__header {
  margin: 0 20px auto;
}

.endpoint-list__search {
  margin: 0 20px auto;
  border: 2px solid;
  height: 43px;
  border-color: #d4d7d9;
}

input.endpoint-list__search-input {
  border: none;
  font-size: 16px;
  background-color: #f2f4f7;
  width: 80%;
  height: 95%;
}

.endpoint-list__search-icon {
  font-size: 20px;
  vertical-align: text-bottom;
  margin-left: 15px;
}

.endpoint-list .endpoint-list__title {
  display:inline;
  float: left;
  margin:0 auto;
  font-size: 24px;
  line-height: 96px;
}

.endpoint-list__add-btn {
  background-color: #f2f4f7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 500;
  border: 3px solid #4d9bf1;
  width: 96px;
  height: 43px;
  margin: 28px auto;
}

.endpoint-list__add-btn:hover {
  background-color: #4d9bf1;
  color: #fff;
  cursor: pointer;
}

.endpoint-list__add-icon {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  vertical-align: text-bottom;
}
