.job-logs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &--title {
    font-size: 16px;
    padding-bottom: 2.5rem;
    color: #818994;
  }

  &--container {
    background: #0c152a;
    font-size: 14px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: #ffffff;
    overflow-y: auto;
    width: 100%;
    padding-right: 40px;
  }

  &--toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #818994;

    &:hover {
      cursor: pointer;
    }
  }

  &--download {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #ffffff;

    &:hover {
      color: #818994;
      cursor: pointer;
    }
  }

  &__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px 12px;
    &-btn {
      color: #ffffff;
      font-size: 32px;
      cursor: pointer;
      &:hover {
        color: #818994;
      }
      &.disable {
        color: #818994;
        cursor: pointer;
      }
    }
  }

}

.log {
  margin-bottom: 6px;
  &-date {
    color: #59606C;
    font-style: italic;
    min-width: 198px;
    display: inline-block;
  }
  &-type {
    &.__info {
      color: #6696EA;
    }
    &.__warn {
      color: #E0BE90;
    }
    &.__error {
      color: #F9624D;
    }
  }
  &-message {
    &.__error {
      margin-left: 51px;
    }
  }
}
