<aside class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-header__row">
          <h3 class='sidebar-title'>Workers</h3>
        </div>
        <div class="sidebar-header__row">
          <mist-input-text class="sidebar-search" inputClass="sidebar-search"
            placeholder="Search"
            [(ngModel)]="searchQ"
            iconName="search"
            iconDirection="left"
          ></mist-input-text>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class='sidebar-list'>
            <li *ngFor="let item of workers | search : 'name' : searchQ" class='sidebar-list__item' [routerLink]="['workers/' + item.name]" routerLinkActive='__active'>
              <span class="cs-text-overflow-ellipsis sidebar-list__item-name">{{ item.name }}</span>
              <mdl-icon title="Edit workers" (click)="deleteWorker(item)">delete_forever</mdl-icon>
            </li>
        </ul>
    </div>
</aside>

<!-- <div class='workers-list__row workers-list__row--big'>
  <div class='workers-list__header'>
    <div class="mdl-grid cs-align-center cs-mt-8 cs-mb-16 cs-text-right">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet cs-text-left">
        <span class='h3'>Workers</span>
      </div>

    </div>
  </div>
</div>
<div class='workers-list__row'>
  <div class='workers-list__search'>
    <mist-input-text
      inputClass="workers-list__search-input mist-input"
      placeholder="Search"
      [(ngModel)]="searchQ"
      iconName="search"
      iconDirection="left"
    ></mist-input-text>
  </div>
</div>
<div class='workers-list__row'>
  <ul class='mdl-list workers-list__ul'>
    <ng-template ngFor let-worker [ngForOf]="workers | search : 'name' : searchQ">
      <li [routerLink]="['workers/' + worker.name]" class='cs-cursor-pointer mdl-list__item workers-list__item'
          routerLinkActive='workers-list__item--active'>
        <a fxLayout="row" fxLayoutAlign="space-between center" class='mdl-list__item-primary-content workers-list__item-content'>
          <div>{{ worker.name }}</div>
          <mdl-icon title="Edit workers" (click)="deleteWorker(worker)">delete_forever</mdl-icon>
        </a>
      </li>
    </ng-template>
  </ul>

</div> -->
