@import "variables.scss";
.workers-table {
  width: 100%;
}

.mdl-badge:after {
    background-color: #f28a03;
    height: $badge-width;
    width: $badge-height;
    font-size: 14px;
    margin-right: 25px;
}

.workers-list__row {
  .workers-list__item {
    width: 100%;
    &--active {
      background: $form-border-color;
    }
    &:hover {
      background: $form-border-color;
    }
  }
}
