<header class='mdl-layout__header'>
  <div class='mdl-layout__header-row mist-navigation-row' fxLayout='row'>

    <div fxFlex="25">
      <a [routerLink]="['/']" class='mist-logo'><img src="./assets/images/logo.png"></a>
      <div class='mdl-layout-spacer'></div>
    </div>

    <nav class='mdl-navigation' fxFlex="75">
      <div fxLayout='row' class="cs-width-100" fxLayoutAlign="center center" >
        <div fxFlex="24" fxFlex.sm="33" fxFlex.md="30" fxFlex.lg="20">
          <a class='mdl-navigation__link cs-text-center'
             [routerLink]="['/jobs/overview']"
             routerLinkActive='is-active'>
            <i class='material-icons md-40'>list</i>
            <span>Functions</span>
          </a>
        </div>

        <div fxFlex="24" fxFlex.sm="33" fxFlex.md="30" fxFlex.lg="20">
          <a class='mdl-navigation__link cs-text-center'
             [routerLink]="['/clusters']"
             routerLinkActive='is-active'
             [class.disabled]="false">
            <i class='material-icons md-40'>device_hub</i>
            <span>Clusters</span>
          </a>
        </div>

        <div fxFlex="24" fxFlex.sm="33" fxFlex.md="30" fxFlex.lg="20">
          <a class='mdl-navigation__link cs-text-center'
             [routerLink]="['/settings']"
             routerLinkActive='is-active'
             [class.disabled]="true">
            <i class='material-icons md-40 rotate-90'>tune</i>
            <span>Settings</span>
          </a>
        </div>
      </div>

    </nav>
    <div class='mdl-layout-spacer'></div>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout__title"></span>
</div>
