<div class="mist-page-container" *ngIf="(job$ | async) as job">
    <div class="mist-page-header">
        <div *ngIf="!jobDetails" class='mist-page-header__row'>
            <a class='mist-link mist-link--big' [routerLink]="['../']">
                <i class='material-icons'>keyboard_backspace</i>
                Back to Jobs
            </a>
        </div>
        <div class='mist-page-header__row' fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h3 mist-page-header__title">{{job.functionId}}</div>
            <button mdl-button mdl-button="" mdl-button-type="raised" mdl-colored="primary" mdl-ripple="" class='clone-job-button mat-button--primary mat-button'
                (click)="openDialogJobForm()">
                Copy Job
            </button>
        </div>
    </div>
    <div class="mist-page-content">
        <div class="content-info">
            <ul class="content-info__list">
                <li class="content-info__list-item __title">Total info</li>
                <li class="content-info__list-item">
                    <span class="content-info__list-item-title">Worker</span>
                    <span class="content-info__list-item-value" *ngIf="(worker$ | async)">
                        <a title="Worker" [routerLink]="'/workers/' + (worker$ | async).name" class='mist-link spark-ui'>{{
                            (worker$ | async).name }}</a>
                    </span>
                    <span class="content-info__list-item-value" *ngIf="!(worker$ | async)">{{ job.workerId }}</span>
                </li>
                <li class="content-info__list-item">
                    <span class="content-info__list-item-title">Context</span>
                    <span class="content-info__list-item-value">{{ job.context }}</span>
                </li>
                <li class="content-info__list-item">
                    <span class="content-info__list-item-title">Status</span>
                    <span class="content-info__list-item-value" style="text-transform: uppercase;" [ngClass]="{
                            'font-color--success': jobStatus.isFinished(job.status),
                            'font-color--primary': jobStatus.isRunning(job.status),
                            'font-color--failed': jobStatus.isFailed(job.status)
                        }">{{ job.status }}</span>
                </li>
                <li class="content-info__list-item" *ngIf="(worker$ | async)">
                    <span class="content-info__list-item-title">SPARK UI</span>
                    <span class="content-info__list-item-value">
                        <a target="_blank" title="SPARK UI" href="{{(worker$ | async).sparkUi}}" class='mist-link spark-ui'>{{
                            (worker$ | async).sparkUi }}</a>
                    </span>
                </li>
            </ul>
            <ul class="content-info__list">
                <li class="content-info__list-item __title">Time info</li>
                <li class="content-info__list-item">
                    <span class="content-info__list-item-title">Queued</span>
                    <span class="content-info__list-item-value">{{ job.createTime | timeTransform }}</span>
                </li>
                <li class="content-info__list-item" *ngIf="job.startTime">
                    <span class="content-info__list-item-title">Started</span>
                    <span class="content-info__list-item-value">{{ job.startTime | timeTransform }}</span>
                </li>
                <li class="content-info__list-item">
                    <span class="content-info__list-item-title">Finished</span>
                    <span class="content-info__list-item-value">{{ job.endTime | timeTransform }} ({{ job.endTime | agoDate
                        }})
                    </span>
                </li>
            </ul>
        </div>
        <hr class="mist__separator--horizontal" />
        <div fxLayout='row' fxLayoutAlign="center" class='job-container'>
            <div fxFlex="45" class='job-details cs-text-left' *ngIf="(jobParams$ | async) as params">
                <div class='mist-label'>Parameters</div>
                <div class='job-details__container'>
                    <codemirror [ngModel]="params | json" [config]="codeMirrorOptions"></codemirror>
                    <span class='material-icons job-details__full-screen-icon' (click)="openFullScreenJson(params)">crop_free</span>
                </div>
            </div>
            <div fxFlex="10" class='icon-separator'>
                <mdl-icon>forward</mdl-icon>
            </div>
            <div fxFlex="45" class='job-details job-details--results cs-text-left'>
                <div class='mist-label'>
                    Results
                </div>
                <div class='job-details__container'>
                    <codemirror [ngModel]="job.jobResult | json" [config]="codeMirrorOptions"></codemirror>
                    <span class='material-icons job-details__full-screen-icon' (click)="openFullScreenJson(job.jobResult)">crop_free</span>
                </div>
            </div>
        </div>

        <mist-job-logs [job]="job"></mist-job-logs>
    </div>
</div>