@import "~variables.scss";
$endpoint-details__label--color: #818994;

.endpoint-details {
  position: relative;
  display: inline-block;
}

.endpoint-details__settings,
.endpoint-details__jobs-filter,
.endpoint-details__run-job {
  display: inline-block;
}

.endpoint-details__namespace-select {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 5px;
  background-color: #e9ecf2;
}

.endpoint-details__settings {
  font-size: 18px;
}

.endpoint-details__settings-label {
  color: $endpoint-details__label--color;
}

.endpoint-details__settings-label::after {
  content: ':'
}

.endpoint-details__namespace-label {
  color: $endpoint-details__label--color;
}

.endpoint-details__namespace-label::after {
  content: '=';
  margin: 0 5px;
}

.endpoint-details__icon {
  vertical-align: middle;
  font-size: 24px;
  color: $endpoint-details__label--color;
}

.endpoint-details__jobs-filter {
  float: right;
}

.endpoint-details__jobs-filter-label {
  font-size: 14px;
  color: $endpoint-details__label--color;
}

.endpoint-details__jobs-filter-label::after {
  content: ':';
}

.endpoint-details__jobs-filter-option {
  display: inline-block;
  color: $endpoint-details__label--color;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  margin: 1px auto;

  &:hover {
    cursor: pointer;
  }
}

.endpoint-details__jobs-filter-option.endpoint-details__jobs-filter-option--active {
  background-color: #e9ecf2
}
