<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--light-blue-500">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer">{{title}}</div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{title}}</span>
    <!-- Navigation -->
    <app-navbar></app-navbar>
  </div>
  <main class="mdl-layout__content banner-bg-image">
    <div class="page-content">
      <!-- Router Outlet -->
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
