<div class="mdl-layout__container">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
              mdl-layout--no-drawer-button">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Title</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
