<form [formGroup]="jobForm">
  <h1 class="mdl-dialog__title mat-dialog-title">Job Parameters</h1>

  <div class="mdl-dialog__content">
    <div class='job-form'>
      <div class='job-form__main'>
        <div class='mist-label'>Input Parameters</div>
        <div class='job-form__input job-form__input--json'>
          <codemirror formControlName="executeParams" [config]="codeMirrorOptions"></codemirror>
        </div>
        <span class="cs-message error" *ngIf="jobForm.controls['executeParams'].invalid">{{formErrors.executeParams}}</span>
      </div>
    </div>

    <div class="cs-text-right">
      <button (click)="dialogRef.hide()" mdl-button class='mat-button mat-button--big'>CANCEL</button>
      <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple class='mat-button mat-button--big' type="submit"
        title="RUN JOB" [disabled]="jobForm.invalid" (click)="submit()">RUN JOB
      </button>
    </div>

  </div>


</form>