<div class='job-details-page mist-page-container' *ngIf="job">
  <div class='mist-page-header'>
    <div class='mist-page-header__row'>
      <a class='mist-link mist-link--big'
         [routerLink]="['../']">
        <i class='material-icons'>keyboard_backspace</i>
        Back to Jobs
      </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class='mist-page-header__row'>

      <div fxFlex.gt="75" fxFlex.md="65" fxFlex.sm="60" class="cs-text-overflow-ellipsis .h3">
        <i class='material-icons status-icon'
           [ngClass]="{'status-icon--failed': job.isFailed(),
          'status-icon--success': job.isFinished(),
          'status-icon--primary': job.isRunning()}">
        </i>
        <span [title]="job.jobId" class='job-id'
              [ngClass]="{'font-color--failed': job.isFailed()}">{{ job.jobId }}</span>
      </div>


      <div fxFlex.gt="25" fxFlex.md="35" fxFlex.sm="40" class="cs-text-right">
        <button mdl-button mdl-button="" mdl-button-type="raised" mdl-colored="primary" mdl-ripple="" class='clone-job-button mat-button--primary mat-button'
                (click)="cloneJob(job)">
          Copy Job
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center"
         class='mist-page-header__row mist-page-header__row--status'>

      <div class='job-version'>
        <span class='mist-label'>Version</span>
        <span>1.2.4</span>
      </div>
      <div title="Namespace = {{ job.context }}" class='namespace'>
        <span fxHide.md fxHide.sm class='namespace__label'>namespace</span>
        <span class='namespace__value'>{{ job.context }}</span>
      </div>
      <div title="Status {{ job.status }}" class='job-status'>
        <span fxHide.md fxHide.sm class='mist-label'>Status</span>
        <span [ngClass]="{'font-color--success': job.isFinished(),
          'font-color--primary': job.isRunning(),
          'font-color--failed': job.isFailed()}">
          {{ job.status }}
        </span>
      </div>
      <div
        title="{{ job.isRunning() ? 'Started' : 'Finished' }} {{ job.isRunning() ? (job.createTime | agoDate) : (job.endTime | agoDate) }}">
        <span fxHide.md fxHide.sm class='mist-label'>
          {{ job.isRunning() ? 'Started' : 'Finished' }}
        </span>
        <span>
          {{ job.isRunning() ? (job.createTime | agoDate) : (job.endTime | agoDate) }}
        </span>
      </div>
      <div class="cs-text-right">
        <a title="SPARK UI" class='mist-link spark-ui'>
          <i class='material-icons'>link</i>
          <span>SPARK UI</span>
        </a>
      </div>
    </div>
  </div>
  <hr class="mist__separator--horizontal"/>
  <div class='mist-page-content'>
    <div fxLayout='row' fxLayoutAlign="center" class='job-container'>
      <div fxFlex="45" class='job-details cs-text-left'>
        <div class='mist-label'>
          Parameters
        </div>
        <div class='job-details__container'>
          <codemirror [ngModel]="job.params"
                      [config]="codeMirrorOptions">
          </codemirror>
          <span class='material-icons job-details__full-screen-icon'
                (click)="openFullScreenJson(job.params)">crop_free</span>
        </div>
      </div>
      <div fxFlex="10" class='icon-separator'>
        <mdl-icon>forward</mdl-icon>
      </div>
      <div fxFlex="45" class='job-details job-details--results cs-text-left'>
        <div class='mist-label'>
          Results
        </div>
        <div class='job-details__container'>
          <codemirror [ngModel]="job.jobResult"
                      [config]="codeMirrorOptions">
          </codemirror>
          <span class='material-icons job-details__full-screen-icon'
                (click)="openFullScreenJson(job.jobResult)">crop_free</span>
        </div>
      </div>
    </div>

    <mdl-tabs mdl-ripple mdl-tab-active-index="0">
      <mdl-tab-panel>

        <mdl-tab-panel-title>
          <span>Clone with HTTPS</span>
        </mdl-tab-panel-title>

        <mdl-tab-panel-content>
          <div fxLayout="row" fxLayoutAlign="center" class='git-clone-input git-clone-input--icon'>
            <mist-input-text wrapClass="input-text--copy-link" fxFlex="50" class="input-text--copy-link" placeholder="https://github.com/Hydrospheredata/mist.git" iconName="content_copy" iconDirection="right"></mist-input-text>
          </div>
        </mdl-tab-panel-content>
      </mdl-tab-panel>

      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <span>Java code snippet</span>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          Java code snippet content
        </mdl-tab-panel-content>
      </mdl-tab-panel>

      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <span>Python code snippet</span>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          Python code snippet content
        </mdl-tab-panel-content>
      </mdl-tab-panel>

      <mdl-tab-panel>
        <mdl-tab-panel-title>
          <span>Ruby code snippet</span>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
          Ruby code snippet content
        </mdl-tab-panel-content>
      </mdl-tab-panel>
    </mdl-tabs>

    <mist-job-logs [jobId]="job.jobId"></mist-job-logs>
  </div>
</div>
