<div *ngIf="(worker$ | async) as worker">
    <div class="mist-page-container">
        <div class='mist-page-header'>
            <!-- <div class='mist-page-header__row'>
                <a class='mist-link mist-link--big' [routerLink]="['../']">
                    <i class='material-icons'>keyboard_backspace</i>
                    Back to Workers
                </a>
            </div> -->
            <div class="h3">Worker {{worker.name}}</div>
            <hr>
        </div>

        <div *ngIf="worker?.initInfo">
            <div class="content-info">
                <ul class="content-info__list">
                    <li class="content-info__list-item">
                        <span class="content-info__list-item-title">Down time</span>
                        <span class="content-info__list-item-value">{{worker.initInfo.downtime}}</span>
                    </li>
                    <li class="content-info__list-item">
                        <span class="content-info__list-item-title">Log service</span>
                        <span class="content-info__list-item-value">{{ worker.initInfo.logService }}</span>
                    </li>
                    <li class="content-info__list-item">
                        <span class="content-info__list-item-title">Max jobs</span>
                        <span class="content-info__list-item-value">{{ worker.initInfo.maxJobs }}</span>
                    </li>
                    <li class="content-info__list-item">
                        <span class="content-info__list-item-title">Streaming Duration</span>
                        <span class="content-info__list-item-value">{{worker.initInfo.streamingDuration}}</span>
                    </li>

                    <li class="content-info__list-item">
                        <span class="content-info__list-item-title">Address</span>
                        <span class="content-info__list-item-value">
                            <a class="cs-inline-block cs-mb-8" title="Address: {{worker.address}}" href="{{worker.address}}">{{worker.address}}</a>
                        </span>
                    </li>
                    <li class="content-info__list-item">
                        <span class="content-info__list-item-title">Spark UI</span>
                        <span class="content-info__list-item-value">
                            <a title=">Spark UI: {{worker.sparkUi}}" href="{{worker.sparkUi}}">{{(worker$ | async).sparkUi}}</a>
                        </span>
                    </li>
                </ul>
                <div class="content-info__panel">
                    <span class="mist-label">Spark Conf</span>
                    <div class="job-details__container">
                        <codemirror [ngModel]="worker.initInfo.sparkConf | json" [config]="codeMirrorOptions"></codemirror>
                    </div>
                </div>
            </div>
            <hr class="cs-mb-16">
        </div>

        <div *ngIf="!worker.initInfo">There is no worker's initial info</div>
        <div class='mist-page-header'>
            <div class="h3">Jobs</div>
        </div>
        <div *ngIf="!(jobs$ | async)?.length">There are no jobs yet</div>
        <table *ngIf="(jobs$ | async)?.length" class='mdl-data-table mdl-js-data-table jobs-table mdl-shadow--2dp' style="width: 100%; margin-bottom: 16px;">
            <tbody>
                <tr *ngFor="let job of jobs$ | async | sortBy:'createTime'; let i=index" class='jobs-table__tr' [routerLink]="['/jobs', job.functionId, job.jobId]">
                    <td [title]="job.jobId" class='jobs-table__td jobs-table__td--job-id' [ngClass]="{'font-color--failed': ['failed', 'cancelled'].includes(job.status)}">
                        <div class="cs-text-overflow-ellipsis">
                            <i class='material-icons status-icon cs-mr-8' [ngClass]="{
                                        'status-icon--success': ['finished'].includes(job.status),
                                        'status-icon--primary': ['initialized', 'started', 'job-file-downloading', 'worker-assigned', 'queued', 'cancelling'].includes(job.status),
                                        'status-icon--failed': ['failed', 'cancelled'].includes(job.status)
                                    }">
                            </i>
                            {{ job.jobId | jobIdCut }}
                        </div>
                    </td>
                    <td [title]="'function = ' + job.functionId" class='jobs-table__td jobs-table__td--function'>
                        <div class='function cs-block'>
                            <div class="cs-text-overflow-ellipsis cs-text-center">
                                <span>{{ job.functionId }}</span>
                            </div>
                        </div>
                    </td>
                    <td [title]="'context = ' + job.context" class='jobs-table__td jobs-table__td--context'>
                        <div class='context cs-block'>
                            <div class="cs-text-overflow-ellipsis cs-text-center">
                                <span class='context__value'>{{ job.context }}</span>
                            </div>
                        </div>
                    </td>
                    <td class='jobs-table__td jobs-table__td--status cs-text-overflow-ellipsis'>
                        <div *ngIf="job.status" [title]="job.status" class="cs-text-overflow-ellipsis">
                            <span class='mist-label'>Status</span>
                            <span class='job-status' [ngClass]="{
                                        'font-color--success': ['finished'].includes(job.status),
                                        'font-color--primary': ['initialized', 'started', 'job-file-downloading', 'worker-assigned', 'queued'].includes(job.status),
                                        'font-color--failed': ['failed', 'cancelled'].includes(job.status)
                                    }"> {{ job.status }} </span>
                            <span>
                                {{jobStatus.isRunning(job.status) ? ((job.startTime || job.createTime) | agoDate) : (job.endTime | agoDate)}}
                            </span>
                        </div>
                    </td>
                    <td class='jobs-table__td jobs-table__td--actions cs-text-overflow-ellipsis'>
                        <a title="KILL" href='#' class='mist-link cs-pt-10 cs-pb-10' (click)="killJob($event, job)" *ngIf="['initialized', 'started', 'job-file-downloading', 'worker-assigned', 'queued'].includes(job.status)">
                            <i class='material-icons'>delete_forever</i>
                            <span>KILL</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <mist-pagination></mist-pagination>
    </div>
</div>