<h2 class="mdl-dialog__title cs-text-center">Are you sure?</h2>
<div class="mdl-dialog__content">
    <div class="btn-group form-actions __justify-space-around" style="display: flex; justify-content: center;">
        <button (click)="dialogRef.hide()" mdl-button class='mat-button mat-button--big'>cancel</button>
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple class='mat-button mat-button--big' type="submit"
            (click)="submit()">delete worker</button>
    </div>
</div>