/* You can add global styles to this file, and also import other style files */
@import "../node_modules/material-design-lite/material.min.css";

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/assets/fonts/Museosanscyrl500.woff') format('woff'),
       url('/assets/fonts/Museosanscyrl500.woff2') format('woff2'),
       url('/assets/fonts/Museosanscyrl500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

html, body {
  font-family: 'MuseoSansCyrl', sans-serif;
  background-color: #f8f9fb;
  color: #000856;
}

aside {
  background-color: #f2f4f7;
  width: 350px;
  flex-shrink: 0;
}


.md-40 {
  font-size: 40px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mist-layout {
  display: flex;
  flex-wrap: wrap;
  min-height: 1178px;
}
