input.mist-input {
  background: transparent;
  &.mist-input--text {
    border: 1px solid;
    border-color: #d4d7d9;
    color: $main-color;
  }
}

input.mist-input--text:focus {
  border-color: #04143c;
}