$main-color: #000856;
$main-bg-color: #f8f9fb;
$main-font-family: 'MuseoSansCyrl', sans-serif;
$aside-bg-color: #f2f4f7;
$color--success: #8cc63e;
$color--failed: #ef3a41;
$color--primary: #b8d7f9;
$color--light-blue: #4d9bf1;
$label-color: #818994;
