/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/material-design-lite/material.min.css";
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../../../node_modules/codemirror/lib/codemirror.css";
@import "angular-material-custom.scss";
@import "variables.scss";
@import "codemirror.scss";

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('/assets/fonts/Museosanscyrl500.woff') format('woff'),
       url('/assets/fonts/Museosanscyrl500.woff2') format('woff2'),
       url('/assets/fonts/Museosanscyrl500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

html, body {
  font-family: $main-font-family;
  background-color: $main-bg-color;
  color:  $main-color;
}

h1, h2 {
  font-family: $main-font-family;
}

button:focus, input:focus {
  outline: 0;
}

aside {
  background-color: $aside-bg-color;
  width: 23%;
  max-width: 347px;
  flex-shrink: 0;
}

li a {
  color: $main-color;
}

hr {
   margin: 1em 24px;
}

a.mist-link {
  font-size: 12px;
  text-decoration: none;
  color: $label-color;
  &:hover {
    cursor: pointer;
    color: $color--light-blue;
  }

  &.mist-link--big {
    font-size: 18px;
  }

  i {
    vertical-align: middle;
    font-size: 24px;
  }

  span {
    vertical-align: middle;
  }
}

md-dialog-container.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2),
              0 24px 38px 3px rgba(0, 0, 0, .14),
              0 9px 46px 8px rgba(0, 0, 0, .12);
  display: block;
  padding: 45px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: auto;
  max-width: 80vw;
  width: 100%;
  height: 100%;
}

.mist-page-container {
  margin: 24px;
  background-color: #fff;
  &.mist-page-container--transparent {
    background: transparent;
  }
}

.mat-dialog-container--big {
  width: 1300px;
}

.md-40 {
  font-size: 40px;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mist-layout {
  display: flex;
  min-height: 1178px;
}

.mist-page-content {
  height: 100%;
  overflow-x: auto;
  margin: 0px 24px 0 24px;
  padding-bottom: 24px;
}

.mist-page-header {
  min-height: 62px;
  line-height: 62px;
  margin: 0px 24px 0 24px;
  padding-top: 24px;
}

.mist-label {
  color: $label-color;
  font-size: 14px;
  &::after {
    content: ':';
  }
}

.mist-btn {
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 500;
  border: 3px solid $color--light-blue;
  width: 96px;
  height: 43px;
  margin: 28px auto;
}

.mist-btn:hover {
  background-color: $color--light-blue;
  color: #fff;
  cursor: pointer;
}

.mist-btn__icon {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  vertical-align: text-bottom;
}

.font-color--success {
  color: $color--success;
}

.font-color--failed {
  color: $color--failed;
}

.font-color--primary {
  color: $color--primary;
}

.namespace {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 12px 0px 12px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 5px;
  background-color: #e9ecf2;
}

.namespace--select {
  padding-right: 0px;
}

.namespace__label {
  color: $label-color;
}

.namespace__label::after {
  content: '=';
  margin: 0px 5px;
}

.status-icon {
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  vertical-align: middle;
}

.status-icon--success {
  background-color: $color--success;
  &::before {
    content: 'done'
  }
}

.status-icon--failed {
  color: $color--failed;
  &::before {
    content: 'clear'
  }
}

.status-icon--primary {
  color: $color--primary;
  &::before {
    content: 'rotate_left'
  }
}

.mist-label {
  color: $label-color;
  margin-bottom: 10px;
}

.mist-label::after {
  content: ':'
}

