<div class='mist-page-container mist-page-container--transparent'>
    <div class='mist-page-header'>
        <div class='function-details' fxLayout='row' fxLayoutAlign='end'>

            <mist-filter></mist-filter>

            <!-- <div class='function-details__status-filter' fxFlex="40" fxFlex.md="40%" fxFlex.lg="40%">
                <div class="mdl-grid--no-spacing mdl-grid">
                    <div class='mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--middle'>
                        <span fxHide.sm>FILTER: </span>
                        <mdl-button [ngClass]="{'function-details__status-filter-option--active': statusFilter['success']}" (click)="toggleStatusFilter('success')"
                            class="mist-button function-details__status-filter-option no-bg-on-hover mb-8 cs-non-transform" title="Success"
                            mdl-colored="">
                            <mdl-icon>done</mdl-icon>
                            <span fxHide.md fxHide.sm>Success</span>
                        </mdl-button>
                        <mdl-button [ngClass]="{'function-details__status-filter-option--active': statusFilter['running']}" (click)="toggleStatusFilter('running')"
                            class="mist-button function-details__status-filter-option no-bg-on-hover cs-non-transform" title="Running"
                            mdl-colored="">
                            <mdl-icon>replay</mdl-icon>
                            <span fxHide.md fxHide.sm>Running</span>
                        </mdl-button>
                        <mdl-button (click)="toggleStatusFilter('failed')" [ngClass]="{'function-details__status-filter-option--active': statusFilter['failed']}"
                            class="mist-button function-details__status-filter-option no-bg-on-hover cs-non-transform" title="Failed"
                            mdl-colored="">
                            <mdl-icon>clear</mdl-icon>
                            <span fxHide.md fxHide.sm>Failed</span>
                        </mdl-button>
                    </div>
                </div>
            </div> -->

            <div class="cs-text-right" fxFlex.md="10" fxFlex.sm="10" fxFlex.lg="20">
                <mdl-button (click)="openDialogJobForm()" class="mist-button blue border icon" title="Run New" mdl-colored="">
                    <mdl-icon>add</mdl-icon>
                    <span fxHide.md fxHide.sm>Run New</span>
                </mdl-button>
            </div>

        </div>
    </div>
    <hr/>
    <div class='mist-page-content'>
        <table class='mdl-data-table mdl-js-data-table jobs-table mdl-shadow--2dp'>
            <tbody>
                <tr *ngFor="let job of jobs$ | async | sortBy:'createTime'; let i=index" class='jobs-table__tr' [routerLink]="['/jobs', job.functionId, job.jobId]">
                    <td [title]="job.jobId" class='jobs-table__td jobs-table__td--job-id' [ngClass]="{'font-color--failed': ['failed', 'cancelled'].includes(job.status)}">
                        <div class="cs-text-overflow-ellipsis">
                            <i class='material-icons status-icon cs-mr-8' [ngClass]="{
                                'status-icon--success': jobStatus.isFinished(job.status),
                                'status-icon--primary': jobStatus.isRunning(job.status),
                                'status-icon--failed': jobStatus.isFailed(job.status)
                            }">
                            </i>
                            {{ job.jobId | jobIdCut }}
                        </div>
                    </td>
                    <td [title]="'function = ' + job.functionId" class='jobs-table__td jobs-table__td--function'>
                        <div class='function cs-block'>
                            <div class="cs-text-overflow-ellipsis cs-text-center">
                                <span>{{ job.functionId }}</span>
                            </div>
                        </div>
                    </td>
                    <td [title]="'context = ' + job.context" class='jobs-table__td jobs-table__td--context'>
                        <div class='context cs-block'>
                            <div class="cs-text-overflow-ellipsis cs-text-center">
                                <span class='context__value'>{{ job.context }}</span>
                            </div>
                        </div>
                    </td>
                    <td class='jobs-table__td jobs-table__td--status cs-text-overflow-ellipsis'>
                        <div *ngIf="job.status" [title]="job.status" class="cs-text-overflow-ellipsis">
                            <span class='mist-label'>Status</span>
                            <span class='job-status' [ngClass]="{
                                'font-color--success': jobStatus.isFinished(job.status),
                                'font-color--primary': jobStatus.isRunning(job.status),
                                'font-color--failed': jobStatus.isFailed(job.status)
                            }"> {{ job.status }} </span>
                            <span>
                                {{jobStatus.isRunning(job.status) ? ((job.startTime || job.createTime) | agoDate) : (job.endTime | agoDate)}}
                            </span>
                        </div>
                    </td>
                    <td class='jobs-table__td jobs-table__td--actions cs-text-overflow-ellipsis'>
                        <a title="KILL" href='#' class='mist-link cs-pt-10 cs-pb-10' (click)="killJob($event, job)" *ngIf="['initialized', 'started', 'job-file-downloading', 'worker-assigned', 'queued'].includes(job.status)">
                            <i class='material-icons'>delete_forever</i>
                            <span>KILL</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mist-page-footer">
        <mist-pagination></mist-pagination>
    </div>
</div>